<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instructions- Territory Conquest</title>
    <link rel="stylesheet" href="css/instructionpage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=MedievalSharp&family=Rye&display=swap" rel="stylesheet">
</head>
<body scroll="no" style="overflow: hidden">
    <div class="instruction" id="instruction">
        <h1>Instructions</h1>
      <ol>
        <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint, placeat.</li>
        <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint, placeat.</li>
        <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint, placeat.</li>
        <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint, placeat.</li>
        <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint, placeat.</li>
        <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint, placeat.</li>
        <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint, placeat.</li>
        <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint, placeat.</li>
        <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint, placeat.</li>
      </ol>
      <button type="button" class="home_button"><a href="/game">GAME</a></button>
      </div>
  
      <script src="app.js"></script>
</body>
</html>
